<div id="main">
<%= @msg %>
</div>

<%# ERB標準のコメントです。
    この行もコメントです。 %>

<% ssssss = 'ここはコメントではない'
    # ここはコメント。Ruby標準のコメント %>

<% if false %>
<% @mslkjhkjhkg = '条件分岐を利用したコメントアウトです。コメントアウトされていることが分かりづらいのが難点。' %>
<% end %>

<%
=begin
%>
<% jjjjmsg = 'これもRubyのbegin-endを利用したコメントアウト。コメントアウトしていることがわかりやすい' %>
<%
=end
%>

<!-- HTMLコメント。これはクライアント側に見える -->
